In [ ]:
# zensar problem 1
import math
a, b = map(int, input().split())
gcd=math.gcd(a,b)
GCD=print(bin(gcd))
s=str(bin(gcd))

count=0
for i in s :
    if (i=="1"):
        count=count+1
        
        
print(count)

2 4
0b10
1

In [ ]:
# zensar problem 2
s = input()
end = s.find('@')
username=s[:end]
print(username)

abcdefg@gmail.com
abcdefg

In [ ]:
# Write a program to add two numbers
a=int(input("Enter the Value of a\n"))
b=int(input("Enter the Value of b\n"))
c=a+b
print("a+b=",c)

Enter the Value of a
4
Enter the Value of b
6
a+b= 10

In [ ]:
# Program to find the maximum of two numbers
a=int(input("Enter the value of a\n"))
b=int(input("Entyer the value of b\n"))
if a>b:
  print("{0} is greater Than {1}".format(a,b))
else:
  print("{0} is greater Than {1}".format(b,a))

Enter the value of a
2
Entyer the value of b
4
4 is greater Than 2

In [ ]:
# Python program to find  the factorial of the given input number
number=int(input("Enter the Number\n"))
if number==0:
  print("Factorial of one is zero")
i=1
fact=1 
while i<=number:  
  fact=fact*i
  i=i+1
  
print("Factorial of the number is",fact)

Enter the Number
5
Factorial of the number is 120

In [ ]:
# Python program to find factorial of the number using the factorial function from math module
import math
num=int(input("Enter the number\n"))
print("the factorial of",num,"is",math.factorial(num))

Enter the number
4
the factorial of 4 is 24

In [ ]:
# Program to find the simple intrest
principal=float(input("Enter the principal\n"))
rate=float(input("Enter the rate\n"))
time=float(input("Enter the Time\n"))
si= principal*rate*time/100 # simple intrest
print("The simple intrest is",si)

Enter the principal
8
Enter the rate
8
Enter the Time
6
The simple intrest is 3.84

In [ ]:
# Program to find compound Intrest
 
principal=float(input("Enter the principal\n"))
rate=float(input("Enter the rate\n"))
time=float(input("Enter the Time\n"))
amount=principal*(pow(1+rate/100,time))
ci=amount-principal  # compount intrest                                  
print("the compound intrest is ",ci)

Enter the principal
1200
Enter the rate
5.4
Enter the Time
2
the compound intrest is  133.0992000000001

In [ ]:
#  Python Program  to check the number is armsstrong number or not

def power(n):
  power=0
  
  while n!=0:
    n=n//10
    power=power+1
  return power
    



def check(n):
    
    p=power(n)
    sum=0
    num=n
    while n!=0:
        
        number=n%10
        sum=sum+number**p
        n=n//10
    
    if sum==num:
      print("An armstrong  number")
    else:
      print("Not an armstrong number")
       
  





n=int(input("Enter the value of n\n"))
check(n)

Enter the value of n
1634
An armstrong  number

In [ ]:
# Python program to find the area of the circle
import math
radius=float(input("Enter the Radius\n"))
area=math.pi*radius*radius
print("area of the circle is",area)

Enter the Radius
3
area of the circle is 28.274333882308138

In [ ]:
# Program to check whther the number is prime number or  not
num=int(input("Enter the number"))

for i in range(2,int(num/2 +1 )):
  if num%i==0:
    print("it is prime not prime  number")
    break
  else:
    print("It is a prime number")

Enter the number56
it is prime not prime  number

In [ ]:
# program to print the prime numbers in the given interval

start=int(input("enter the start"))
end=int(input("Enter the end"))
for i in range (start,end+1):
  if i>1:
    for j in range(2,i):
      if(i%j==0):
        break
    else:
       print(i)

enter the start11
Enter the end25
11
13
17
19
23

In [ ]:
# Program to check the number is fibonacci number or not

import math
n=int(input("n\n")) # Enter the number
codition1=math.sqrt(5*n*n+4) is float
condition2=math.sqrt(5*n*n+4) is float
if ((statement1 or statement)==1):
  print("no")
else:
  print('yes')

n
34
yes

In [ ]:
# Function for nth Fibonacci number
def Fibonacci(n):
   
    # Check if input is 0 then it will
    # print incorrect input
    if n < 0:
        print("Incorrect input")
 
    # Check if n is 0
    # then it will return 0
    elif n == 0:
        return 0
 
    # Check if n is 1,2
    # it will return 1
    elif n == 1 or n == 2:
        return 1
 
    else:
        return Fibonacci(n-1) + Fibonacci(n-2)
n=int(input("Enter the position of the fibonacci\n"))
 
# Driver Program
print(Fibonacci(n))

Enter the position of the fibonacci
8
21

In [ ]:
#  program to find position of the nth multiple of kth number in the fibonnaci series
def findposition(k,n):
  f1=0
  f2=1
  i=2
  while i!=0:
    f3=f1+f2
    f1=f2
    f2=f3
    if f2%k==0:
      return n*i
    i+=1
  return
findposition(2,9)

27

In [ ]:
# program to print the Ascii value of the character
a=input("enter the character\n")
print("ascii value of the  character is:",ord(a))

enter the character
A
ascii value of the  character is: 65

In [ ]:
# Program for the sum of the squares of first n natural numbers
n=int(input("Enter the value of n\n"))
sum=0
for i in range(1,n+1):
  sum=sum+i*i
print(sum)

Enter the value of n
5
55

In [ ]:
# Program to find the cube sum of n natural numbers
n=int(input("Enter the value of n\n"))
sum=0
for i in range(1,n+1):
  sum=sum+i*i*i
print(sum)

Enter the value of n
7
784

In [ ]:
# Recusive program to find the factorial
def factorial(x):
    """This is a recursive function
    to find the factorial of an integer"""

    if x == 1:
        return 1
    else:
        return (x * factorial(x-1))


num 
print("The factorial of", num, "is", factorial(num))

The factorial of 3 is 6

In [ ]:
x = "global "

def foo():
    global x
    y = "local"
    x = x * 2
    print(x)
    print(y)

foo()
print(x)

global global
local
global global

In [ ]:
# ex use of the global keyword
c=1 # By default declared in the global scope
def foo():
  global c
  c=c+1
  print("inside the function:",c)

foo()
print("outside the function:",c)

inside the function: 2
outside the function 2

In [ ]:
# Global in nested functions

def foo():
  x=20
  def bar():
    global x
    x=25
  print("x before bar",x)
  bar()
  print("x after the bar",x)
foo()
print("X in main",x)

x before bar 20
x after the bar 20
X in main 25

In [ ]:
# Import the specific functions from the module
from math import sqrt,e,pi
print(pi)
print(e)
print(sqrt(4))

3.141592653589793
2.718281828459045
2.0

In [ ]:
# dir() function
import math
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 '_sh',
 'c',
 'e',
 'exit',
 'foo',
 'get_ipython',
 'math',
 'pi',
 'quit',
 'sqrt',
 'x']

In [ ]:
# nested list
my_list=["happy",[0,1,2,3]]
print(my_list[0][2])

p

In [ ]:
# Python numbers
a=5
b=5.0
c=3+5j
# now to check whether the variable belongs to a particular class
print(type(a))
print(type(b))
print(type(c))
print(isinstance(c,complex))
print(isinstance(b,float))
print(isinstance(a,int))

<class 'int'>
<class 'float'>
<class 'complex'>
True
True
True

In [ ]:
a

In [ ]:
# coercion or the type conversion
a="300"
print(complex(3+2j)) # This function can also be used to convert string to pargtgicular data type
print(float(a))
print(int(a)) 
b=0.5
print(int(b)) # This function removes the  floating point ie is called truncatio
from decimal import Decimal as d
1.1+2.2 is d(1.1+2.2)
print(d(3.3))

(3+2j)
300.0
300
0
3.29999999999999982236431605997495353221893310546875

In [ ]:
# fractions in python
from fractions import Fraction
print(Fraction(0.25))

1/4

In [ ]:
# Fractional operations
from fractions import Fraction as F
print(F(1,2)+F(2,3))
print(F(1,2)/F(2/3))
print(F(-1/2)>0)
print(F(-2/3)<0)

7/6
4503599627370496/6004799503160661
False
True

In [ ]:
# Python mathematics Operations

import math

print(math.pi)
print(math.cos(math.pi))
print(math.log10(1000))
print(math.exp(10))
print(math.sinh(1))
print(math.factorial(6))

3.141592653589793
-1.0
3.0
22026.465794806718
1.1752011936438014
720

In [ ]:
# Random Module
import random
print(random.randrange(0,10))
x=[2,4,5,6,8]
print(random.choice(x))
random.shuffle(x)
print(x)
print(random.random())

6
2
[8, 4, 6, 5, 2]
0.8705940578324077

In [ ]:
# Python list
list1=[1,2,3,4,5,6,7,8,8,9,0,5,6,56,6,7] # A list can have any number of elements
list2=["sarvadnya",2,2+3j,3.00,2+3j,"SSSSS"] # A python list can have items with the different data types
list3=[2,4,5,[23,"45",3+4j]] # A python list  can contain a list as an item and it is called as the nested list
my_list=[2,3,4,"Mouse", "Keyboard","monitor"]
# Ways for accessing the items in the list
print(my_list[0]) # 1st item in the list
print(my_list[1]) # 2nd item in the list
print(my_list[2]) # 3rd item in the list
print(my_list[3]) # 4th item in the list
print(my_list[4]) # 5th item in the list
print(my_list[5]) # 6th item in the list
# nested indexing
print(list3[3][0])
print(list3[3][1])
print(list3[3][2])

2
3
4
Mouse
Keyboard
monitor
23
45
(3+4j)

In [ ]:
# python negative indexing
my_list=['p','r',"o","b","e"]

print(my_list[-1])
print(my_list[-5])

e
p

In [ ]:
# Slicing the list in the python
list0=["s","a","r","v","a","d","n","y","a"]
print(list0[0:5]) # elements from 0 to 4
print(list0[5:]) # elements from 5 to end
print(list0[:]) # all the elements in the list

['s', 'a', 'r', 'v', 'a']
['d', 'n', 'y', 'a']
['s', 'a', 'r', 'v', 'a', 'd', 'n', 'y', 'a']

In [ ]:
# changing the list items
''' unlike string, tuple the list is mutable we can use the assignment operator to carry out the change of the item or to change the range of the item'''
odd=[2,4,6,8]
odd[0]=24
print(odd)
""" Printing changing the range of the items"""
odd[0:2]=[36,48]
print(odd)
# We can add the item to the list by append() method and add  several numbers of items using the extend function

[24, 4, 6, 8]
[36, 48, 6, 8]

In [ ]:
# adding an item in the  list
odd=[2,4,6,8]
odd.append(10)
print(odd)
# adding the several items in the list
odd.extend([12,14,16,18])
print(odd)
# concatinating the two lists 
odd=[2,4,6,8]
even=[1,3,5,7]
print(odd+even)
print(["repeat"]*10) # repetation of the item in the list

[2, 4, 6, 8, 10]
[2, 4, 6, 8, 10, 12, 14, 16, 18]
[2, 4, 6, 8, 1, 3, 5, 7]
['repeat', 'repeat', 'repeat', 'repeat', 'repeat', 'repeat', 'repeat', 'repeat', 'repeat', 'repeat']

In [ ]:
# inserting the one item at the desired location
odd=[2,4,6,8]


print(odd)
odd[2:3]=[5,7]
print(odd)
odd[2:2]=[5,7]
print(odd)

[2, 4, 6, 8]
[2, 4, 5, 7, 8]
[2, 4, 5, 7, 5, 7, 8]

In [ ]:
# Deleting an element in the list
# we can delete the item in the list by using the del kewor
mylist=[1,2,3,4,5,6,7,8,9,10]
del mylist[0]
print(mylist)
# we can  remove the paticular item from the list by using remove method
mylist.remove(3)
print(mylist)
# we can also remove the item from the list by using the index  ie by the pop() method that removes and return the element from the index if we doesnot pass it an index it will pop the last element
print(mylist.pop(0))
print(mylist)
# we can also delete the item from the list by assigning the empty list to the slice of the list
mylist[2:3]=[]
print(mylist)
mylist.index(7)
list1=[2,4,5,6,8,8,9,10,11]
print(list1.count(8))
list1.sort()
print(list1)
list1.reverse()
print(list1)
list1.copy()

[2, 3, 4, 5, 6, 7, 8, 9, 10]
[2, 4, 5, 6, 7, 8, 9, 10]
2
[4, 5, 6, 7, 8, 9, 10]
[4, 5, 7, 8, 9, 10]
2
[2, 4, 5, 6, 8, 8, 9, 10, 11]
[11, 10, 9, 8, 8, 6, 5, 4, 2]

[11, 10, 9, 8, 8, 6, 5, 4, 2]

In [ ]:
# list compresion
power=[x**2 for x in range(10)]
print(power)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
# equivalent code for the above list
power=[]
for x in range(10):
  power.append(x**2)
print(power)
# checking whether the element is present in the list
print(4 in power)
print(8 in power)
print(16 not in power)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
True
False
False

In [ ]:
# iterating in the list
fruits=["apple","bannana","orange", "Jackfruit","kiwi"]
for fruit in  fruits:
  print("i love",fruit)

i love apple
i love bannana
i love orange
i love Jackfruit
i love kiwi

In [ ]:
# Creating the tuple in the python
# 1 empty tuple
mytuple=()
print(mytuple)
# Creating the tuple with integer
mytuple=(1,2,3,4)
print(mytuple)
# Creating the tuple with mixed datatypes
mytuple=(1,2,3,"apple","kiwi")
print(mytuple)
# Creating the nested tuple
mytuple=(1,2,["apple","bannan","kiwi"],(2+3j,2.05,2/5))
print(mytuple)

()
(1, 2, 3, 4)
(1, 2, 3, 'apple', 'kiwi')
(1, 2, ['apple', 'bannan', 'kiwi'], ((2+3j), 2.05, 0.4))

In [ ]:
# Tuple can also be created without parenthesis
mytuple=1,2,3
print(mytuple)
# Unpacking of the tuple
a,b,c=mytuple
print(a,b,c)
# creating the tuple with one element can be little tricky
mytuple=("apple")
print(type(mytuple))
mytuple=("apple",)
print(type(mytuple))

(1, 2, 3)
1 2 3
<class 'str'>
<class 'tuple'>

In [ ]:
# accessing the tuple during indexing
mytuple=("P","R","O","G","R","A","M","I","Z")
print(mytuple)
print(mytuple[0])
print(mytuple[4])
print(mytuple[6])
# nested tuple  accesing the element using the nested indexing
mytuple=("apple","bannana",("Sam","sabestian","Roy"),[2,2+3j,3.43])
print(mytuple[2][2])
print(mytuple[3][1])

('P', 'R', 'O', 'G', 'R', 'A', 'M', 'I', 'Z')
P
R
M
Roy
(2+3j)

In [ ]:
# Python allows the negative indexing  the negative indexing starts from the -1 index where the last item is -1 and the secondlast item have the -2 index
mytuple=("p","e","r","m","i","t")
print(mytuple[-1])
print(mytuple[-6])

t
p

In [ ]:
# accesing the tuple element using the slicing
mytuple=("P","R","O","G","R","A","M","I","z")
print(mytuple[0:])
print(mytuple[:])
print(mytuple[:5])
print(mytuple[5:6])
print(mytuple[:-7])
print(mytuple)

('P', 'R', 'O', 'G', 'R', 'A', 'M', 'I', 'z')
('P', 'R', 'O', 'G', 'R', 'A', 'M', 'I', 'z')
('P', 'R', 'O', 'G', 'R')
('A',)
('P', 'R')
('P', 'R', 'O', 'G', 'R', 'A', 'M', 'I', 'z')

In [ ]:
# changing the elements in the tuple
mytuple=(0,1,2,3,["a","b","c","d"],("e","f","g","h"))
mytuple[4][3]="D"
print(mytuple)
# Tuple can be reassigned

mytuple=("I","LOVE","YOU")
print(mytuple)
# Concatinating the two tuples "+" operator
tuple1=1,2,3,4
tuple2=5,6,7,8
tuple3=tuple1+tuple2
print(tuple3)
tuple4=(("repeat",)*3)
print(tuple4)

(0, 1, 2, 3, ['a', 'b', 'c', 'D'], ('e', 'f', 'g', 'h'))
('I', 'LOVE', 'YOU')
(1, 2, 3, 4, 5, 6, 7, 8)
('repeat', 'repeat', 'repeat')

In [ ]:
# Deleting a tuple ,we cannot delete an element from the tuple but we can  delete the entire tuple
mytuple=(0,1,2,3,4)
print(mytuple)
del(mytuple)

(0, 1, 2, 3, 4)

In [ ]:
# methods of the tuple
# Count method
# index method

my_tuple=("a","p","p","l","e")
print(my_tuple.count('p'))
print(my_tuple.index("a"))

2
0

In [ ]:
# Tuple membership test
# membership operator in and not in
my_tuple=("a","p","p","l","e")
print("a" in my_tuple)
print("a" not in my_tuple)

True
False

In [ ]:
# iterating in the tuple
names=("Jhon","hardin","tessa","lissa")
for name in names:
  print("Goodmorning ",name)

Goodmorning  Jhon
Goodmorning  hardin
Goodmorning  tessa
Goodmorning  lissa

In [ ]:
# Ways to create the strings
my_string="Hello"
print(my_string)
my_string='Hello'
print(my_string)
my_string=""" Hello welcome to the word of the python"""
print(my_string)

Hello
Hello
 Hello welcome to the word of the python

In [ ]:
# Accesing string Characters in python
# using indexing
my_string="Engineering"
print(my_string[3])
# Using negative indexing
print(my_string[-7])
# accessing the range of characters in the string
print(my_string[:8])
print(my_string[5:10]

i
n
Engineer
eerin
11

In [ ]:
# Deleting A string
""" deleting the a particular character  from the string is not poissible as the strings are not mutable as the tuple
However the string can be deleted entirely"""
my_string="ycce"
del my_string
my_string="Yeswhwantrao chavan college of enginnering"
print(my_string)

Yeswhwantrao chavan college of enginnering

In [ ]:
# string operations 
# ways of concatinating the strings
string1="Hello!"
string2="World"
print(string1 + string2)
print(string1*3)
# Concatinating the string in two different lines
print("hello"
"world")

Hello!World
Hello!Hello!Hello!
helloworld

In [ ]:
# iterating through the strings
my_string="Ycce"
count=0
for letter in my_string:
  count=count+1
print(count)\
# Membership in a string
print("a" not in my_string)
"b" in "battle"

4
True

True

In [ ]:
#  operations with strings
college="Ycce"
print(list(enumerate(college)))
print(len(college))

[(0, 'Y'), (1, 'c'), (2, 'c'), (3, 'e')]
4

In [ ]:
# Escape sequence
print('hello, "what\"s your name" ')

hello, "what"s your name"

In [ ]:
# Raw string to ignore escape sequence in the string
print('hello,what\'s your name')
print(r'hello,what\'s your name')

hello,what's your name
hello,what\'s your name

In [ ]:
# Python string format method
""" Using the default argument """
default_order="{},{} & {}".format("apple","mango","Bannana")
print(default_order)
""" using the positional argument"""
positional_order="{1},{0} & {2}".format("apple","mango","bannana")
print(positional_order)
""" Using the Keyword argument """
keyword_order="{i},{j}&{k}".format(i="bannana",k="orange",j="kiwi")
print(keyword_order)

apple,mango & Bannana
mango,apple & bannana
bannana,kiwi&orange

In [ ]:
# formatting integers
"The of the {0} is {0:b}".format(2)
# formatting floats
" the exponent representation {0:e}".format(12.5)
" th e roundoff of the float {0:0.15f}".format(1/3)

' th e roundoff of the float 0.333333333333333'

In [ ]:
# String alignment
"|{0:<10}|{2:^10}|{1:>10}".format("bread","butter","ham")
# old style formattting
x=19.055555555555555556899
print("the value of x is %3.2f"%x)
print("the value of x is % 3.4f"%x)

the value of x is 19.06
the value of x is  19.0556

In [ ]:
# methods o the strings

# method that converts the upper case letters into lower
college="YCCE"
print(college.lower())
fruit="apple"
print(fruit.upper())
college= " yeshwantrao chavan college of engineering"
c=college.split()
print(college.split())

name="Hamister"
name.find("s")
"Happy new year".replace("Happy","good")

ycce
APPLE
['yeshwantrao', 'chavan', 'college', 'of', 'engineering']

'good new year'

In [ ]:
# Creating the set
my_set={1,2,3,4}
print(my_set)
my_set={1,2,3,"apple",(23,"orange","nagpur")} # set with mix data types
print(my_set)
""" sets cannot have duplicates"""
my_set={1,1,2,3,4,5,6,7,8,9,10}
print(my_set)
# set can be made from list by using the the set function
mylist=[1,2,3,4,5,("apple","orange")]
print(set(mylist))
# creating an empty list
a={}
print(type(a))
a=set()
print(type(a))

{1, 2, 3, 4}
{1, 2, 3, (23, 'orange', 'nagpur'), 'apple'}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
{1, 2, 3, 4, 5, ('apple', 'orange')}
<class 'dict'>
<class 'set'>

In [ ]:
# adding the item or the range of the items in the sets
myset={1,2,"apple",("ram","laxman","hanuman")}
myset.add((24,45,67))
print(myset)
myset.update([200,400,500])
print(myset)

{1, 2, 'apple', (24, 45, 67), ('ram', 'laxman', 'hanuman')}
{1, 2, 'apple', 200, (24, 45, 67), 400, 500, ('ram', 'laxman', 'hanuman')}

In [ ]:
# eleminating an item from the set
# discard() method
# remove() method
myset={"apple ","mango","bannana","Sunflower",23}
myset.discard("mango")
print(myset)
myset.remove(23)
print(myset)
myset={1,2,"apple","tie","pizza","Pasta","noodels"}
myset.pop()
# clearing all the elements of the set
myset.clear()
print(myset)

{'apple ', 'Sunflower', 'bannana', 23}
{'apple ', 'Sunflower', 'bannana'}
set()

In [ ]:
# we can also perform the mathematical set operations such as the union , intesection ,difference & finite difference using various operators and the  method
""" Union of the two sets"""
A={1,2,3,4,5,6}
B={1,3,5,7,8,9,10000}
""" Using the operator"""
print(A|B)
""" using the union function """
print(A.union(B))
print(B.union(A))
""" intesection of the two sets using the operator"""
print(A&B)
print(B&A)
""" intesection of the two sets using the intersection() method"""
print(A.intersection(B))
print(B.intersection(A))
""" Difference between two sets using the operator"""
print(A-B)
print(B-A)
""" Difference between the two sets using the difference method """
print(A.difference(B))
print(B.difference(A))
""" Symmetric difference between the two sets using the '^' operator"""
print(A^B)
print(B^A)

""" Symmetric difference between the two sets using the Symmetric_difference()"""
print(A.symmetric_difference(B))
print(B.symmetric_difference(A))
print(A.update(B))
print(A)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10000}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10000}
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10000}
{1, 3, 5}
{1, 3, 5}
{1, 3, 5}
{1, 3, 5}
{2, 4, 6}
{8, 9, 10000, 7}
{2, 4, 6}
{8, 9, 10000, 7}
{2, 4, 6, 7, 8, 9, 10000}
{2, 4, 6, 7, 8, 9, 10000}
{2, 4, 6, 7, 8, 9, 10000}
{2, 4, 6, 7, 8, 9, 10000}
None
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10000}

In [ ]:
# various methods of the sets 
A={1,2,3,4,5,6}
B={1,2,3,4,5,6,10000}

print(A.intersection_update(B))
print(A)
print(B)

B.isdisjoint(A)

None
{1, 2, 3, 4, 5, 6}
{1, 2, 3, 4, 5, 6, 10000}

False

In [ ]:
# other operations in the sets
""" Set membership test using in and not in key words """
a={2,3,"apple","Mango","Lays"}
"apple" in a
"bananna " not in a

True

In [ ]:
# Iterating through the set
""" We can iterate through the each item in the set using for loop"""
names={"virat","rohit","ronald","messi","salah"}
for name in names:
  print("awesome",name)

awesome rohit
awesome salah
awesome messi
awesome ronald
awesome virat

In [ ]:
# Built-in functions with set
A={1,2,3,4,5,6,0}
print(A)
any(A)
print(list(enumerate(A)))
print(len(A))
print(min(A))
print(max(A))
print(sum(A))

{0, 1, 2, 3, 4, 5, 6}
[(0, 0), (1, 1), (2, 2), (3, 3), (4, 4), (5, 5), (6, 6)]
7
0
6
21

In [ ]:
# Frozensets
# Frozen sets are immutable sets
A=frozenset([1,2,3,4,5])
B=frozenset([1,2,3,4,5,6,7,8,9,10])
print(A|B)
print(A&B)

A.issubset(B)

frozenset({1, 2, 3, 4, 5, 6, 7, 8, 9, 10})
frozenset({1, 2, 3, 4, 5})

True

In [ ]:
# creating the dictionary
# empty dictionary
my_dict={}
print(my_dict)
# dictinary of integers keys
my_dict={1:"apple",2:"bannana",3:"Orange"}
print(my_dict)
# dictionary with the mix datatypes as a key
my_dict={1:"apple","name":"jhon",3:[1,2,3]}
print(my_dict)
# from dict function
my_dict=dict([(1,'apple'),(2,'Orange'),(3,'mango')])
print(my_dict)

{}
{1: 'apple', 2: 'bannana', 3: 'Orange'}
{1: 'apple', 'name': 'jhon', 3: [1, 2, 3]}
{1: 'apple', 2: 'Orange', 3: 'mango'}

In [ ]:
# accessing the element from the dictionary
# using the get method and the indexing
my_dict={"name":"jhon","age":26,"gender":"male"}
print(my_dict["name"],my_dict["age"],my_dict["gender"])
print(my_dict.get("name"),my_dict.get("age"),my_dict.get("height"))
# updating the age
my_dict["age"]=56
print(my_dict["age"])
# adding the address key
my_dict["address"]="Downtown"
print(my_dict)

jhon 26 male
jhon 26 None
56
{'name': 'jhon', 'age': 56, 'gender': 'male', 'address': 'Downtown'}

In [ ]:
# removng an element from the dictionary
squares={1:1,2:4,3:9,4:16,5:25,6:36}
# Removing the particular item
print(squares.pop(4))
print(squares)
# removing an arbitrary items
print(squares.popitem())
print(squares)

# making dictionary from key'
squares.items()
squares.keys()
squares.values()
squares.setdefault("salary")
squares["slary"]=22

16
{1: 1, 2: 4, 3: 9, 5: 25, 6: 36}
(6, 36)
{1: 1, 2: 4, 3: 9, 5: 25}
None

In [ ]:

squares={}
for x in range(6):
  squares[x]=x**2
print(squares)

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [ ]:
# python profram to find sum of all the elements in array
arr=(1,4,6,8,9,10)

max(arr)

10

In [ ]:
# python program to find the maximum of the two numbers
def max(a,b):
  if a>b:
    greater=a
  else:
    greater=b
  return greater

max(2,8)

8

In [ ]:
# program for the array Rotation
def rotate_array(length,shift_size):
    array=[]
    i=0
    

    while i<=length:
      array.append(i)
      i+=1
    print(array)
    
    j=0
    while j<=length:
      array[j]=array[j]+shift_size
      j+=1
    return array

rotate_array(10,2)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [ ]:
#code
T=input()

N=int(input())

A=input()

print(A[1])

1
4
1 2 3 4

In [ ]:
def reverseList(A, start, end):
    if start >= end:
        return
    A[start], A[end] = A[end], A[start]
    reverseList(A, start+1, end-1)
 
# Driver function to test above function
A = [1, 2, 3, 4, 5, 6]
print(A)
reverseList(A, 0, 5)
print("Reversed list is")
print(A)
# This program is contributed by Pratik Chhajer

[1, 2, 3, 4, 5, 6]
Reversed list is
[6, 5, 4, 3, 2, 1]

In [ ]:
# infytq
number=input("Enter the number\n")
otp=""
for i in range(0,len(number)-1):
  if i%2!=0:
    otp=otp+str(int(number[i])**2)
print(otp[0:4])

Enter the number
7564168
2516

In [ ]:
# infy tq problem
string=input("Enter the string\n")
newstr=string.split(":")
print(newstr)
name=newstr[0]
key=newstr[1]
print(type(key))
sss=""
strrr=""
for i in key:
  if int(i)<=len(name):
    sss=sss+i

maximum=int(max(sss))
strrr=strrr+name[maximum]
print(strrr)

Enter the string
mayur:3729
['mayur', '3729']
<class 'str'>
xxu

In [ ]:
# Programmiz problems'
# Program to print Hello world
print("Hello world!")
# Program to add two numbers
a=2
b=5.9
c=a+b
print("the sum is",c)

Hello world!
the sum is 7.9

In [ ]:
# Program to find squareroot of the number
import math
a=int(input("Enter the number"))
squareroot=math.sqrt(a)
print("The squareroot is ",squareroot)

Enter the number16
The squareroot is  4.0

In [ ]:
# Program to find the area of the triangle 
import math
a=float(input("Enter the side 1 length\n"))
b=float(input("Enter the side 2 length\n"))
c=float(input("Enter the side 3 length\n"))

s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))**0.5
print("The area of the triangle is :\n",area)

Enter the side 1 length
23
Enter the side 2 length
45
Enter the side 3 length
67
The area of the triangle is :
 183.82651468164215

In [ ]:
# Python program to solve quadratic equations
import math
a=int(input("Enter the coefficient of x^2"))
b=int(input("Enter the coefficient of x"))
c=int(input("Enter the constant"))
D=int(b**2-(4*a*c))**0.5

r1=(-(b)+D)/2*a
r2=(-(b)-D)/2*a
print("The roots of the given equation are ",r1,r2)

Enter the coefficient of x^212
Enter the coefficient of x16
Enter the constant24
The roots of the given equation are  (-95.99999999999999+179.5995545651492j) (-96.00000000000003-179.5995545651492j)

In [ ]:
# python program to swap two variables
x=input("Enter the value of x\n")
y=input("Enter the value of y\n")
print(x,y)
temp=x
x=y
y=temp
print(x,y)

Enter the value of x
2
Enter the value of y
3
2 3
3 2

In [ ]:
# Python program to generate the random integer 
import random
print(random.random())

0.722836830264476

In [ ]:
# python programs to convert kilometeres to miles
kilometers=float(input("Enter the values in kilometers "))
conv_fac=0.621371
miles=kilometers*conv_fac
print("The miles:\n",miles)

Enter the values in kilometers 23
The miles:
 14.291533

In [ ]:
# python program to convert celcius into fahrenheit
celcius=float(input("Enter the temperature in celsius\n"))
fahrenhiet=celcius*1.8+32
print(" the temperature in the faharenhiet is",fahrenhiet)

Enter the temperature in celsius
9
 the temperature in the faharenhiet is 48.2

In [ ]:
# python program to check whether is positive negative or zero
number=int(input("Enter the number\n "))
if(number==0):
  print("The given number is 0")
elif(number>0):
  print("The given number is positive")
elif(number<0):
  print("The given number is Negative")
else:
  print("Wrong input")

Enter the number
 0
The given number is 0

In [ ]:
# Python program to check whether the number is even or odd
number=int(input("Enter the number\n "))
if(number%2==0):
  print("The Number is even")
else:
  print(" the number is odd")

Enter the number
 0
The Number is even

In [ ]:
# Python program to check whether the year is leap year or not 
year=int(input("enter the year\n"))
if(year%400==0):
  print("leap year")
elif(year%4==0 and year%100!=0):
  print("leap year")
else:
  print("Not a leap year")

enter the year
2020
leap year

In [ ]:
# Python program find the largest number among the three numbers
a=int(input("Enter the number 1"))
b=int(input("Enter the number 2"))
c=int(input("Enter the number 3"))
if(a>b):
  if(a>c):
    print(a,"is greater")
elif(b>c):
  print(b,'is greater')
else:
  print(c," is greater")

Enter the number 123
Enter the number 224
Enter the number 325
25  is greater

In [ ]:
# Python program to checkwhether the number is prime number or not
num=int(input(" Enter the number"))
flag=False

if num>1:
  for i in range(2,num):
    if(num%i==0):
      flag=True
if flag:
  print(num,"is not a prime number")
else: 
  print(num,"the number is prime number")

 Enter the number3
3 the number is prime number

In [ ]:
# python program to print all prime numbers in a given interval
lower=int(input("Enter the number"))
upper=int(input("Enter the number"))
print("all the numbers between",lower,"and" , upper,"are")
for num in range(lower,upper+1):
  if num>1:
    for i in range(2,num):
      if (num %2)==0:
        break
    else:
      print(num)

Enter the number23
Enter the number34
all the numbers between 34 and {23} are
23
25
27
29
31
33

In [ ]:
# Program to find factorial of the nuber
import math
num=int(input("Enter the number"))
print(math.factorial(num))

Enter the number4
24

In [ ]:
# program to display the multiplication table 
num=int(input("Enter the number"))
for i in range(1,10+1):
  print(num,"X", i,"=",num*i)

Enter the number7
7 X 1 = 7
7 X 2 = 14
7 X 3 = 21
7 X 4 = 28
7 X 5 = 35
7 X 6 = 42
7 X 7 = 49
7 X 8 = 56
7 X 9 = 63
7 X 10 = 70

In [ ]:
# Python program to print the fibonnaci sequence
n=int(input("How many terms?"))
a=0
b=1
i=0
if(n<0): 
  print("Enter the positive integer")
elif(n==1):
  print("fibonnaci sequence upto",n,"is")
  print(a)
else:
  while(i<n):
    print(a)   
    c=a+b   
    a=ba
    b=c
    i+=1

How many terms?7
0
1
1
2
3
5
8

In [ ]:
# Python program to check whether the given number is armstrong number or not
num=int(input("Enter the number"))
sum=0
temp=num
while(temp>0):
  digit=temp%10
  sum+=digit**3
  temp//=10
if(sum==num):
  print("Armstrong number")
else:
  print("Not an armstrong number")

Enter the number456
Not an armstrong number

In [ ]:
# Python program to print all armstrong numbers in an interval
lower=int(input("Enter the lower limit"))
upper=int(input("Enter the upper limit"))


for num in range(lower,upper+1):
  order=len(str(num))
  sum=0
  
  temp=num
  while(temp>0):
    digit=temp%10
    sum+=digit**order
    temp//=10
  
  if(num==sum):
    print(num)

Enter the lower limit100
Enter the upper limit2000
153
370
371
407
1634

In [ ]:
# program to print n natural numbers 
n=int(input("specify the number of elements to be printed"))
for number in range(0,n):
  print(number)

specify the number of elements to be printed8
0
1
2
3
4
5
6
7

In [ ]:
# Python program to print the sum of n natural numbers
n=int(input("Enter the number"))
sum=0
for number in range(0,n+1):
  sum=sum+number
  number=number+1
print("the sum of ",n,"natural numbers is:",sum)

Enter the number16
the sum of  16 natural numbers is: 136

In [ ]:
# Display the power of 2 using ananymous function
terms=int(input("How many terms?"))
result=list(map(lambda x:2**x,range(terms)))
for i in range(terms):
  print("2 raised to power ",i,"is:",result[i])

How many terms?10
2 raised to power  0 is: 1
2 raised to power  1 is: 2
2 raised to power  2 is: 4
2 raised to power  3 is: 8
2 raised to power  4 is: 16
2 raised to power  5 is: 32
2 raised to power  6 is: 64
2 raised to power  7 is: 128
2 raised to power  8 is: 256
2 raised to power  9 is: 512

In [ ]:
# python program to print output without the newline
print("python is ",end="")
print("Easy to learn")

python is Easy to learn

  0 1 2 3 4
0 *
1 * * 
2 * * *
3 * * * *
4 * * * * *

In [ ]:
# python program to print pyramid pattern
rows=int(input("Enter the number of rows"))
columns=int(input("Enter the number of columns"))
for i in range(1,rows):
  for j in range(1,i+1):
    print("*",end="")
  print("\n5")

Enter the number of rows5
Enter the number of columns5
*

**

***

****

In [ ]:
# 2)
row=int(input("enter the number of rows"))
column=int(input("enter the number of columns"))
for i in range(row):
  for j in range(i+1):
    print(j+1,end=" 
    ")
  print("\n")

enter the number of rows5
enter the number of columns5
1

1 2

1 2 3

1 2 3 4

1 2 3 4 5

In [ ]:
# program to iterate over a dictionary and print key value pair
dt={"a":"apple","b":"ball","c":"cat","d":"dog"}
for key,value in dt.items():
  print(key,value)

a apple
b ball
c cat
d dog

In [ ]:
# python program to reverse a number
num=int(input("enter the number"))
number=str(num)
print(number[::-1])

enter the number1234
4321

In [ ]:
# python program to claculate the power of the number
base=int(input("Enter the base"))
exponent=int(input("Enter the exponent"))
power=pow(base,exponent)
print(power)

Enter the base2
Enter the exponent3
8

In [ ]:
# pyton program to check whether the string is palindrome or not
string=str(input("Enter the string"))
reverse_string=string[::-1]
if(string==reverse_string):
  print(string," is palindrome")
else:
  print(string," is not a palindrome")

Enter the stringdad
dad  is palindrome

In [ ]:
# python program to remove the puntuation from string
string=str(input("Enter the string"))
punctuations=''':"'?%#@,'''
not_punc=""
for char in string:
  if char not in punctuations:
    not_punc=not_punc+char
print(not_punc)

Enter the stringa,b,"c"@"d",
abcd

In [ ]:
# Python programs to sort the words in alphbetical order
word=str(input("Enter the word"))
temp=[]
temp.append(word.split())
print(temp)
words=temp
words.sort()
print(words)

Enter the wordsarvadnya sanjay rajurkar
[['sarvadnya', 'sanjay', 'rajurkar']]
[['sarvadnya', 'sanjay', 'rajurkar']]

In [ ]:
set1=set()
for i in range(0,9):
  set1.add(i)
set2=set()
for j in range(14,2,24):
  set2.add(j)
# Intersection of two sets
print("The intersection of two sets is:",set1&set2)
# union of the two sets 
print("The union of the two sets is:",set1|set2)
# Difference of two sets
print("The difference of two sets is:",set1-set2)
# Symmetric difference of two sets is
print("Symmetric difference of two sets is",set1^set2)

The intersection of two sets is: set()
The union of the two sets is: {0, 1, 2, 3, 4, 5, 6, 7, 8}
The difference of two sets is: {0, 1, 2, 3, 4, 5, 6, 7, 8}
Symmetric difference of two sets is {0, 1, 2, 3, 4, 5, 6, 7, 8}

In [ ]:
# Python program to count number of each vowel in a string
string=str(input("Enter the string"))
counta=0
counte=0
counti=0
counto=0
countu=0
for i in string:
  if(i=="a")or(i=="A"):
    counta+=1
  elif((i=="e")or(i=="E")):
    counte+=1
  elif((i=="o"))or(i=="O"):
    counto+=1
  elif((i=="i"))or(i=="I"):
    counti+=1
  elif((i=="u"))or(i=="U"):
    countu+=1
print("number of a",counta)
print("number of e",counte)
print("number of i",counti)
print("number of o",counto)
print("number of u",countu)

Enter the stringsarvadnya sanjay Rajurkar
number of a 7
number of e 0
number of i 0
number of o 0
number of u 1

In [ ]:
# python program to combine two dictionaries
dict1={'a':"apple",'b':"ball",'c':"cat"}
dict2={"d":"doll",'e':"elephant","f":"frog"}
print({**dict1,**dict2})

{'a': 'apple', 'b': 'ball', 'c': 'cat', 'd': 'doll', 'e': 'elephant', 'f': 'frog'}

In [ ]:
#  indexing of list using the for loop
my_list=[34,45,56,67,89]
for index,value in enumerate(my_list):
  print(index,value)

0 34
1 45
2 56
3 67
4 89

In [ ]:
# python program to flatten the nested list
my_list=[[1,2],["a","b","C"],["%","#","^^"]]
flat_list=[]
for sublist in my_list:
  for element in sublist:
    flat_list.append(element)
print(flat_list)

[1, 2, 'a', 'b', 'C', '%', '#', '^^']

In [ ]:
#  python program to sort the dictionary by value
dict={2:"a",3:"b",4:"c"}
my_list=sorted(dt.values())
for i in my_list:
  print(i)

apple
ball
cat
dog

In [ ]:
# code to check whether the list is empty or not
my_list=[]
if not my_list:
  print("list is empty")

list is empty

In [ ]:
# Program to concatinate two lists
list1=["a","b","C","d"]
list2=["1","2","3","4"]
print(list1+list2)

['a', 'b', 'C', 'd', '1', '2', '3', '4']

In [ ]:
# python program to check whether the key is present in the dictionary
dict={"a": "apple","b":"ball","c":"cat","D":"Dog","e":"elephant"}
if "f" in dict:
  print("Presernt in the dict")
else:
  print("Not present in the dictionary")

Not present in the dictionary

In [ ]:
# Python program to print the colored text to the terminal
import termcolor
My_text=str(input("Enter The Text"))
print(termcolor.colored(My_text,"yellow"))

Enter The Text" I Love python"
" I Love python"

In [ ]:
# Python program to print the last element of the list
my_list=[]
for i in range(0,10):
  my_list.append(i)
print(my_list)
print(my_list[-1])

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
9

In [ ]:
# Python program to get thesubstring from a input string
string=str(input("Enter the string"))
print(len(string))
print(string[2:])

Enter the stringI LOVE PYTHON
13
LOVE PYTHON

In [ ]:
# Python program to randomly select an element from the list
import random
my_list=[]
for i in range(1,9):
  my_list.append(i)

print(my_list)
print(random.choice(my_list))

[1, 2, 3, 4, 5, 6, 7, 8]
7

In [ ]:
# python function to check whether the sgtring is float
def check_float(num):
  try:
    float(num)
    return True
  except ValueError:
    return False
print(check_float("2.56"))
print(check_float("6.ad"))

True
False

In [ ]:
# Python Program to print number of ocurrences of an item in the list
my_list=["a","b",1,2,3,"$","#",2,8,9,"-"]
print(my_list.count("a"))
print(my_list.count(2))

1
2

In [ ]:
# Python Program to delete an element from the dictionary
dict1={"a":1,"b":2,"c":3,"d":4}
dict1.pop("a")
print(dict1)

{'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Python program to create a long multiline string
string=""" My name is sarvadnya sanjay rajurkar , I am proficient in java, python , c++, C and have basic knowledge of mysql and database design """
print(string)

 My name is sarvadnya sanjay rajurkar , I am proficient in java, python , c++, C and have basic knowledge of mysql and database design

In [ ]:
# Python program to convert two lists into dictionary
list1=['a','b','c','d']
list2=[1,2,3,4]
dict1=dict(zip(list1,list2))
print(dict1)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# python program to trim the whitespace from the string
string=str(input("My String "))
new_string=""
for i in string:
  if(i==" "):
    continue
  else:
    new_string=new_string+i
print(new_string)

My String I Love Python
ILovePython

In [ ]:
# Python program to iterate through the two lists in parallel
list_1=[1,2,3,4]
list_2=["a","b","c","d"]
for i,j in zip(list1,list2):
  print(i,j)

a 1
b 2
c 3
d 4

In [ ]:
# Python program to count number of digits present in the number
num=int(input("enter the number"))
count=0
while(num!=0):
  temp=num//10
  count+=1
  num=temp
print(count)

enter the number134
3

In [ ]:
# Python program to check if the two strings are anagram
string1=str(input("enter the string"))
string2=str(input("Enter the string "))
string1.lower()
string2.lower()
if(len(string1)==len(string2)):
  sorted_string1=sorted(string1)
  sorted_string2=sorted(string2)
  if(sorted_string1==sorted_string2):
    print(string1,"and ",string2,"are","Anagram")
  else:
     print(string1,"and ",string2,"are not","Anagram")
else:
  print(string1,"and ",string2,"are not","Anagram")

enter the stringrace
Enter the string care
race and  care are Anagram

In [ ]:
# Python program to print the string with first capital letter
# The captalize function is used to capitalize the first chracter of the string
string=str(input("Enter the String "))
print(string.capitalize())

Enter the String cristiano ronaldo
Cristiano ronaldo

In [ ]:
# Python program to print the number of occurences of the character in a string
string=str(input("enter the string"))
my_char=str(input("enter the character"))
count=0
for i in string:
  if(i==my_char):
    count+=1
print("The number of occurences of the ",my_char,"are:",count)

enter the stringProgrammiz
enter the characterm
The number of occurences of the  m are: 2

In [ ]:
# Python program to remove duplicate from the string
my_list=[1,2,3,4,5,6,7,8,9,0,1,3]
new_list=list(set(my_list))
print(new_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
# Python program to convert the decimal number into other number systems 
dec=int(input("enter the decimal number"))
print(hex(dec))
print(oct(dec))
print(bin(dec))

enter the decimal number345
0x159
0o531
0b101011001

In [ ]:
# Pythonn program to print the ascii value of a character
# to conver character in ascii we use ord function
a=input("enter the character")
print(ord(a))

enter the characterA
65

In [ ]:
# Python program to find the gcd of the  two numbers
import math
a=int(input("enter the first number\n"))
b=int(input("enter the second number\n"))
print(math.gcd(a,b))

enter the first number
8
enter the second number
24
8

In [ ]:
# Python program to find the lcm of two num of two numbers
import math
def lcm(a,b):
  lcm=(a*b)//math.gcd(a,b)
  return lcm

lcm(54,24)

216

In [ ]:
# Python program to fing the factors of the input number
def factor(num):
  for i in range(1,num+1):
    if(num%i==0):
      print(i)
factor(320)

1
2
4
5
8
10
16
20
32
40
64
80
160
320

In [ ]:
# Python function to print the calendar of the month and the year
import calendar
def calen(mm,yy):
   print(calendar.month(yy, mm))
calen(2,2022)

   February 2022
Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6
 7  8  9 10 11 12 13
14 15 16 17 18 19 20
21 22 23 24 25 26 27
28

Python Practice examples from basic to advance

In [ ]:
# PYTHON PROGRAM TO PRINT HELLO WORLD
print("Hello world")
print("HI,my name is python")
# identifiers 
# keywords cannot be identifiers
# name of identifiers should never start with the  number
# the name should be have alphanumeric chracters
# use underscore to seperate two words

Hello world
HI,my name is python

In [ ]:
# data types
rating=4.7
name="python"
marks=98
is_passed=True
my_complex_number=4+2J
fruit_list=["apple","banana","grapes"]
print(type(rating))
print(type(fruit_list))
print(type(name))
print(type(marks))
print(type(is_passed))
print(type(fruit_list))

<class 'float'>
<class 'list'>
<class 'str'>
<class 'int'>
<class 'bool'>
<class 'list'>

In [ ]:
# Python data type example
name=str(input("Enter the name"))
age=int(input("enter the age"))
year_of_birth=int(input("enter the year of birth"))
is_new_user=True
food_list=["Pizza","Macroni","Shawarma","manchrian rice"]
print(name,age,year_of_birth,is_new_user,food_list)

Enter the namePython Java
enter the age25
enter the year of birth2022
Python Java 25 2022 True ['Pizza', 'Macroni', 'Shawarma', 'manchrian rice']

In [ ]:
# Python Operators
# arithematic operators
# Comments are started in python by #
# Multiple line comments by """" or '''
a=int(input())
b=int(input())
print(a+b)
print(a-b)
print(a%b)
print(a*b)
print(a//b)
print(a/b)
print(a**b)

24
64
88
-40
24
1536
0
0.375
21553582667127297807356245630088233396078302617053397105733859049568556071131586049867776

In [ ]:
# write the program to take the average of three numbers 
def avg(num1,num2,num3):
  average=(num1+num2+num3)/3
  return average

avg(3,6,9)

6.0

In [ ]:
# Assignment operators
a=int(input("enter the string"))
a+=5
a*=5
a/=5
a//=5
print(a)

enter the string6

In [ ]:
# Relational operator
a=int(input("Enter the value of a\n"))
b=int(input("Enter the value of b\n"))
print(a>b)
print(a<b)
print(a>=b)
print(a<=b)
print(a==b)
print(a!=b)

Enter the value of a
98
Enter the value of b
98
False
False
True
True
True
False

In [ ]:
# logical operators
# And or NOt
x=True
y=False
print("X and Y", x and y)
print("X or Y",x and y)
print("Not X",not x)
print("Not Y",not y)

X and Y False
X or Y False
Not X False
Not Y True

In [ ]:
# taking an user input
# in python we use input() for taking input from the user
Name=input("Enter the Name")
print(Name)

Enter the NamePython
Python

In [ ]:
# designing a simple calculator using the functin concept in python
choice=int(input("Enter the choice"))
a=int(input("Enter the number"))
b=int(input("Enter the number"))

def add(a,b):
  return a+b

def sub(a,b):
  return a-b

def multiply(a,b):
  return a*b

def div(a,b):
  return a/b

if choice==1:
  add(a,b)
elif choice==2:
  sub(a,b)
elif choice==3:
  multiply(a,b)
elif choice==4:
  div(a,b)

Enter the choice2
Enter the number4
Enter the number2

In [ ]:
# Write a program to take the input of the marks of  physics ,chemistry, maths
maths=int(input("Enter the marks in maths\n"))
physics=int(input("Enter the marks in physics\n"))
chemistry=int(input("Engter the marks in chemistry\n"))
avg_marks= (maths+chemistry+physics)/3
percentage=((maths+chemistry+physics)/300)*100
print(avg_marks,percentage,"%9")

Enter the marks in maths100
Enter the marks in physics99
Engter the marks in chemistry100
99.66666666666667 99.66666666666667 %

In [ ]:
# conditional satatements
# syntax if(condition): Statement, else: , else should be always return after the if 
age=int(input("Enter the age\n"))
if age>=18:
  print("you are eligible to vote")
else:
  print("Not eligible")

Enter the age
6
Not eligible

In [ ]:
# python program to check whether the given number is positive or zero
num=int(input("Enter the number\n"))
if num>0:
  print("The number is positive")
elif num==0:
  print("zero")
else: 
  print("number is negative")

Enter the number
-89
number is negative

In [ ]:
# range function
# range function is used to print sequence of the numbers
print(list(range(0,10,2)))

[0, 2, 4, 6, 8]

In [ ]:
# loops
# loops can run one block of code for multiple times
# for loop for traversal
for i in range(10):
  print(i*2,end=" , " )
my_list=["Java","python","C++"]
for i in my_list:
  print(i*2)

0 , 2 , 4 , 6 , 8 , 10 , 12 , 14 , 16 , 18 , JavaJava
pythonpython
C++C++

In [ ]:
# while loop
# while loop is used when the we don't know the how many times we have to iterate over the loop
n=5
while(n>0):
  print(n)
  n-=1

5
4
3
2
1

In [ ]:
# Break and continue
# break statement is used to terminate the loop in which it exist
# continue statement is used to skip the particular iteration in the loop , loop does not terminate  but continues the next iteration
for i in range(10):
  
  if(i>6):
    break
  print(i)
for j in range(10):
  if(i==6):
    continue
  print(j)

0
1
2
3
4
5
6
0
1
2
3
4
5
6
7
8
9

In [ ]:
# strings in python
# string is the sequence of characters
# example words, sentences
# string can be created by  using the single and double quotes  as wells the triple quotes but for multiline string
# strings bhave various methods
# string has an indexing as array and it starts from zero as well as strings have provision of the negative indexing
fruit="apple"
print(fruit[0])
print(fruit[-1])

a
e

In [ ]:
# slicing of the string
# To get the output as a substring then the slicing concept comes into use
fruit="I love Python"
print(fruit[::-1])
print(fruit[0:3])
print(fruit[3:5])
print(fruit[:])
print(fruit[:5])
print(fruit[0:5:2]) # [starting index:end:interval]
print(fruit[:0:-1])

nohtyP evol I
I l
ov
I love Python
I lov
Ilv
nohtyP evol

In [ ]:
# for loop with string
a="abc"
b="def"
print(a+b) # concatination
print(a*3)
string=str(input("enter the string"))
for i in string:
  print(i*2)

abcdef
abcabcabc
enter the stringabc
aa
bb
cc

In [ ]:
# python string method
# password="23$abcd"
# password.isalpha()
# str1="123"
# str1.isdigit()
# password.isdigit()
str2="ABCD"
str2.islower()
str2.lower()
str2.islower()

False

In [ ]:
# lstrip function and the rstrip function

s="sarvadnya Sanjay rajurkar"
print(s.rstrip())

sarvadnya Sanjay rajurkar

In [ ]:
# Pyton list
# list is created by placing all the elements inside square bracket seperated by comma
# list is heterogeneous ie it can contain any datatype
my_list=[1,2,3,4,"python","java","C++","C#"]
print(my_list[::-1])
print(my_list[:5])
# negative indexing
print(my_list[-1])
# updatind the list
my_list[0]="php"
print(my_list)
del my_list[0]
print(my_list)

['C#', 'C++', 'java', 'python', 4, 3, 2, 1]
[1, 2, 3, 4, 'python']
C#
['php', 2, 3, 4, 'python', 'java', 'C++', 'C#']
[2, 3, 4, 'python', 'java', 'C++', 'C#']

In [ ]:
# list comprehension
power2=[2**i for i in range(10)]
print(power2)
powee=[i for i in range(100)]
power=[i for i in range(100) if i%2==0] # list of even number
print(power,powee)
b=[3*i for i in range(10)]
print(b)

[1, 2, 4, 8, 16, 32, 64, 128, 256, 512]
[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98] [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]
[0, 3, 6, 9, 12, 15, 18, 21, 24, 27]

In [ ]:
# list methods
my_list=[i for i in range(10)] # list comprehension
my_list.append(10)
print(my_list)
my_list.insert(1,0.5)
print(my_list)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[0, 0.5, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
# sort method
# for homogeneous list
my_list=[i for i in range(10,1)]
my_list.sort()
print(my_list)

[]

In [ ]:
# pop method
fruits=["kiwi","banana","apple","grapes"]
fruits.sort()
print(fruits)
fruits.pop(0)
print(fruits)
print(fruits.index("grapes"))
print(fruits.count("apple"))
fruits.reverse()
print(fruits)

['apple', 'banana', 'grapes', 'kiwi']
['banana', 'grapes', 'kiwi']
1
0
['kiwi', 'grapes', 'banana']

In [ ]:
from typing_extensions import ParamSpec
# list functions
my_list=[i for i in range(0,10)]
print(len(my_list))
print(max(my_list))
print(min(my_list))
string="Python"
print(list(string))
print(sum(my_list))
for i in my_list:
  print(i*2,end=" ")

10
9
0
['P', 'y', 't', 'h', 'o', 'n']
45
0 2 4 6 8 10 12 14 16 18

In [ ]:
# tuples
# tuples is also sequence of elements which is created by placing all the elements inside the round brackets
# tuples are also heterogeneous
# tuples are immmutabe unlike list
# it doesnot support the string operations
fruits=("apple","banana","grapes","orange")

In [ ]:
# dictionaries and sets
# in sets all the elements should be unique
# Set is not an ordered sequence
# we cannot use indexing in the sets

a={1,2,3,4,4,55,66,77,55}
print(a)
for i in a:
  print(i*2)

{1, 2, 3, 4, 66, 77, 55}
2
4
6
8
132
154
110

In [ ]:
# dictionary 
# dictionary have the key and the value pair 
# heterogeneous in nature
# key can be of any type
marks={"mayur":45,"aa":45,"anuj":68}
print(marks["mayur"])
# updating the dictionary
marks["rohit"]=99
marks["anuj"]=67
print(marks)

45
{'mayur': 45, 'aa': 45, 'anuj': 67, 'rohit': 99}

In [ ]:
# Functions in python
# A block of code that is used to perform particular task
# catergories of the function
# built-in
# user defined
# modules
# module is file containing the function definations and methods
# module math
import math as m
dir(m)
print(m.pi)
print(m.sqrt(4))

3.141592653589793
2.0

In [ ]:
# User defined functions
# syntax " def function_name: "
# greeting function
def greet(Name):
  print("Good morning",Name)
Name=str(input("enter the name\n"))
greet(Name)

enter the name
Anuj
Good morning Anuj

In [ ]:
#  returning the function
# return is a statement used to exit the function counter returns to the place from where it is called
def sum_of_list(a):
  print("calculating")
  
  return sum(a)
a=[45,56,78,56,78]
sum_of_list(a)

calculating

313

In [ ]:
# write a function which takes the list of names as the arugument and greet each name
def greeting(names):
  for i in names:
    print("good morning",i)
n=["anuj","priya","parth","sarthak"]
greeting(n)

good morning anuj
good morning priya
good morning parth
good morning sarthak

In [ ]:

# file handling
# 1) open file
# 2) read or write
# 3) close file
# file is a named location on disk to store related information, it is used to permenantly store the data in non-volatile memory (harddisk)

In [ ]:
# 
a=0
while(a<0):
    a=a+2
    print(a)

In [ ]:
# Python Program to check whether the given string is palindrome
def palindrome(string):
  rev=string[::-1]
  if(string==rev):
    print(string,"Is palindrome")
  else:
    print(string,"Is not the palindrome")
palindrome("ycce")

ycce Is not the palindrome

In [ ]:
# Python program to reverse the words in the string
def reverse_sentence(sentence):
  words=sentence.split( )
  reverse_sentence=" ".join(reversed(words))

  return reverse_sentence
reverse_sentence('i love programming very much')

'much very programming love i'

In [ ]:
s='i love programming very much'
words=s.split(' ' )
print(reversed(words))

<list_reverseiterator object at 0x7f52b2b83790>

In [ ]:
# Program to remove the ith chracter from  the string
string=str(input("enter the string"))
position=int(input("enter the position"))
new_string=""
for i in range(0,len(string)):
  
  if i==position:
    continue
  new_string=new_string+string[i]
print(new_string)

enter the stringSarvadnya
enter the position3
Saradnya

In [ ]:
# python program to print the length of the string avoiding spaces
string="geeks for geeks 33 is   best"
length=0
for i in string:
  if i==" ":
    continue
  length=length+1
print("the length of the string avoiding the spaces is",length)

the length of the string avoiding the spaces is 21

In [ ]:
# Python program to print the even length words in the string
string=str(input("enter the string:"))
words=string.split(' ')
for word in words:
  if(len(word)%2==0):
    print(word)

enter the string:I am sarvadnya
am

In [ ]:
# python program avoiding the space in calculating length of th estring using is space
string='geeks for geeks 33 is  best'
res=sum(not chr.isspace() for chr in string)
print("the length of the string avoiding the spaces is :",res)

the length of the string avoiding the spaces is : 21

In [ ]:
# Python program to upper case the half string
string=str(input("enter the string"))
mystring=" "
for i in range(0,len(string)):
  if(i>=len(string)//2):
    mystring=mystring+string[i].upper()
  else:
    mystring=mystring+string[i]
print(mystring)

enter the stringapples
 appLES

In [ ]:
# Python program to capitalize the first and last character of the string
string=str(input("Enter the string"))
mystring=""
for i in range(0,len(string)):
  if(i==0 or i==len(string)-1):
    mystring=mystring+string[i].upper()
  else:
    
    mystring=mystring+string[i]
print(mystring)

Enter the stringgeeksforgeeks
GeeksforgeekS

In [ ]:
# python program to capitalize the gfirst character and the last character of the every word of the string
sentence=str(input('enter the string:'))
words=sentence.split(" ")
mystring=""
newstring=""
for word in words:
  for i in range(0,len(word)):
    if(i==0 or i==len(word)-1):
      mystring=mystring+word[i].upper()
    else:
      mystring=mystring+word[i]
  mystring=mystring+" "
print(mystring)

enter the string:geeks for geeks
GeekS FoR GeekS

In [ ]:
#  Python program to check whether string has atleast one number opr leter in given string
def checkstring(string):
  flag_1=False
  flag_n=True
  for i in string:
    if i.isalpha():
      flag_1=True
    if i.isdigit():
      flag_n=True
  return flag_1 and flag_n

print(checkstring("welcome2country34"))
print(checkstring("#$567*(())tyuiklaa*****"))

True
True

In [ ]:
# Python program to acept the string which contains all wovels
string=str(input("Enter the string"))
flag_1=False
if "AEIOU" or "aeiou" in string:
  flag_1=True
if flag_1==True:
  print("accepted")
else:
  print("not accepted")

Enter the stringSEEquoial
accepted

In [ ]:
# 
a = "geeksforgeeks"
b = "forgeeksgeeks"
if b in a:
  print("Accepted")
else:
  print("not accepted")

not accepted

In [ ]:
# Python program to  copunt the number of matching pair in the string
str1=str(input("enter the string:"))
str2=str(input("enter the string:"))
set_str1=set(str1)
set_str2=set(str2)
matching_pair=set_str1 & set_str2
print("no of matching pairs in the string ",str(len(matching_pair)))

enter the string:aabcddek1112@
enter the string:bb2211@55k
no of matching pairs in the string  5

In [ ]:
# Python program to count the numbefr of vowels in string
string=str(input("enter the string"))
count=0
for i in string:
  if i in "aeiouAEIOU":
    count+=1
print(count)

enter the stringGeeksforGeeks
5

In [ ]:
# python program to remove all the duplictes from the string
string=str(input("Enter the string"))
string_set=set(string)

string_list=list(string_set)
string_list.sort()
for i in string_list:
  new_string=new_string+i
  
print(new_string)

Enter the stringgeeksforgeeks
efgkors

In [ ]:
# Pythjon program to find maximum times occuring character in the string
string=str(input("Enter the string:"))

Enter the string:geeksforgeeks
s

In [ ]:
S="Sarvadnya_Sanjay_Rajur"

print(S.split())

['Sarvadnya_Sanjay_Rajur']

# Python Practical Questions

In [ ]:
# python Program to Check whether the number is positive or negative
n=int(input("Enter the number:"))
if(n>0):
  print("the number is positive number")
else:
  print("The number is negative number")

Enter the number:5
the number is positive number

In [ ]:
# Python Program to read a number n and compute n+nn+nnn
n=int(input("Enter the number:"))
temp=str(n)
t1=temp+temp
t2=temp+temp+temp
compute=n+int(t1)+int(t2)
print("compute:",compute)

Enter the number:20
compute: 204060

In [ ]:
 # Python program to print all the number divisible by the number in the given range
 n=int(input("Enter the divisor:"))
 lower=int(input("Enter the lower range limit:"))
 upper=int(input("Enter the upoper range limit:"))
 for i in range(lower,upper+1):
   if(i%n==0):
     print(i)

Enter the divisor:4
Enter the lower range limit:10
Enter the upoper range limit:60
12
16
20
24
28
32
36
40
44
48
52
56
60

In [ ]:
# Python program to find the sum of digits in the number
n=int(input("enter the number:"))
sum=0
while(n>0):
  dig=n%10
  sum=sum+dig
  n=n//10
print("Sum of the digits:",sum)

enter the number:216
Sum of the digits: 9

In [ ]:
# Python Program to printall the integers aren't divisible by 2 or 3 and lie between 1 and 50
for i in range(1,50+1):
  if(i%2==0 or i%3==0):
    continue
  print(i)

1
5
7
11
13
17
19
23
25
29
31
35
37
41
43
47
49

In [ ]:
# Python program to check whether the number is the perfect number or not:
n=int(input("Enter the number:"))
sum=0
for i in range(1,n):
  if (n%i==0):
    sum=sum+i
if(n==sum):
  print(n," The number is perfect number")
else:
  print(n,"The number is not the perfect number")

Enter the number:496
496  The number is perfect number

In [ ]:
# Python program to find the reverse number

n=int(input("enter the number:"))
rev=0
while(n>0):
  dig=n%10
  rev=rev*10+dig
  n=n//10
print("The reverse of the number:",rev)

enter the number:612
The reverse of the number: 216

In [ ]:
# python program to find whether the number is a palindrome or not
n=int(input('Enter the number:'))
temp=n
rev=0
while(n>0):
  dig=n%10
  rev=rev*10+dig
  n=n//10

if(temp==rev):
  print(temp,"The number is palindrome")

Enter the number:121
121 The number is palindrome

In [ ]:
# Python Program to check collatz conjecture
n=int(input("Enter the number:"))
while(n>1):
  print(n,end=' ')
  if(n%2==1):
    n=3*n+1
  else:
    n=n//2
print(1,end=' ')

Enter the number:11
11 34 17 52 26 13 40 20 10 5 16 8 4 2 1

In [ ]:
# Python program gto print the Collatz conjecture
n=int(input("Enter the value:"))
while(n>1):
  print(n,end=" ")
  if(n%2==1):
    n=3*n+1
  else:
    n=n//2
  
print(1,end=" ")

Enter the value:24
24 12 6 3 10 5 16 8 4 2 1

Enter the number:9
1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9

TypeError: ignored

In [ ]:
# Swap The two numbers without using  temporary number
a=int(input("Enter the a:"))
b=int(input("Enter the b:"))
a=a+b
b=a-b
a=a-b
print("a is:",a,"b is:",b)

Enter the a:25
Enter the b:56
a is: 56 b is: 25

In [ ]:
a=[]
n=int(input("enter the number of elements in list"))
for i in range (0,n+1):
  ele=int(input("Enter the number the element"+str(i+1)+"="))
  a.append(i)
avg=sum(a)/len(a)
print(a)

enter the number of elements in list5
Enter the number the element1=23
Enter the number the element2=45
Enter the number the element3=56
Enter the number the element4=67
Enter the number the element5=89
Enter the number the element6=90
[0, 1, 2, 3, 4, 5]

In [ ]:
# Python program to accedpt three digits and print all the possible combinations from digits
a=int(input("enter the number a"))
b=int(input("Enter the nuber b"))
c=int(input("Enter The number c"))
d=[]
d.append(a)
d.append(b)
d.append(c)
for i in range(0,3):
  for j in range(0,3):
    for k in range(0,3):
      if(i!=j &  j!=k & k!=i):
        print(d[i],d[j],d[k])

enter the number a1
Enter the nuber b2
Enter The number c3
1 2 3
1 3 2
2 1 3
2 3 1
3 1 2
3 2 1

In [ ]:
# Python Program to print odd number within given range
lower=int(input("enter the lower range limit:"))
upper=int(input("Enter the upper range limit:"))
for  i in range(lower,upper+1):
  if(n%2!=0):
    print(i)

enter the lower range limit:10
Enter the upper range limit:122
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122

In [ ]:
# Python problem to read a number n and print the natural number pattern
n=int(input("enter the number :"))
a=[]
for i in range(1,n+1):
  print(i,sep=" ",end=" ")
  if(i<n):
    print("+",sep="",end=" ")
  a.append(i)

  
print("=",sum(a))

enter the number :5
1 + 2 + 3 + 4 + 5 = 15

In [ ]:
n=int(input("Enter a number: "))
for i in range(0,n):
    for j in range(0,n):
        if(i==j):
            print("1",sep=" ",end=" ")
        else:
            print("0",sep=" ",end=" ")
    print()

Enter a number: 8
1 0 0 0 0 0 0 0
0 1 0 0 0 0 0 0
0 0 1 0 0 0 0 0
0 0 0 1 0 0 0 0
0 0 0 0 1 0 0 0
0 0 0 0 0 1 0 0
0 0 0 0 0 0 1 0
0 0 0 0 0 0 0 1

In [ ]:
# Python program to find the prime factors of the given numbers
n=int(input(("Enter the number:")))
print("Prime factors are")
i=1
while(i<=n):
  k=0
  if(n%i==0):
    j=1
    while(j<=i):
      if(i%j==0):
        k=k+1
      j=j+1
    if(k==2):
      print(i)
  i=i+1

Enter the number:20
Prime factors are
2
5

In [ ]:
# Prython program to generate all the divisors of the number
n=int(input("Enter the number:"))
print("Divisors of "+str(n))
for i in range(1,n):
  if(n%i==0):
    print(i)

Enter the number:20
Divisors of 20
1
2
4
5
10

In [ ]:
# Python program to print the table of the given number
n=int(input("Enter the number"))
for i in range(1,n+1):
  print(str(n)+"X"+str(i)+"=",n*i)

Enter the number10
10X1= 10
10X2= 20
10X3= 30
10X4= 40
10X5= 50
10X6= 60
10X7= 70
10X8= 80
10X9= 90
10X10= 100

In [ ]:
# write a program to find the sum of neagtive numbers,positive even numbers and positive odd numbers in a list
l=[] # empty user defined list
ne=[] # for negative numbers 
o=[] # for odd positive numbers
e=[]  # for even positve  numbers

n=int(input("enter the number of elements in the list:"))
for i in range(0,n):
  ele=int(input("Enter the element"+str(i+1)+"="))
  l.append(ele)
for j in l:
  if(j>0):
    if(j%2==0):
      e.append(j)
    else:
      o.append(j)
  else:
    ne.append(j)
print("sum of negative numbers:",sum(ne))
print("sum of even positive numbers:",sum(e))
print("sum of odd positive numbers:",sum(o6))

enter the number of elements in the list:10
Enter the element1=-1
Enter the element2=2
Enter the element3=-3
Enter the element4=-9
Enter the element5=10
Enter the element6=11
Enter the element7=-100
Enter the element8=-10
Enter the element9=122
Enter the element10=34
sum of negative numbers: -123
sum of even positive numbers: 168
sum of odd positive numbers: 11

In [ ]:
# python program to print the largest even number and the largest odd number in the list
l=[]
n=int(input("Enter the number of elements in the list:"))
for i in range(0,n):
  ele=int(input("Enter the element"+str(i+1)+"="))
  l.append(ele)
odd=[]
even=[]
for j in l:
  if(j%2==0):
    even.append(j)
  else:
    odd.append(j)
even.sort()
odd.sort()
print("largest even number",even[len(even)-1])
print("largest odd number",odd[len(odd)-1])

Enter the number of elements in the list:5
Enter the element1=23
Enter the element2=45
Enter the element3=23
Enter the element4=67
Enter the element5=90
largest even number 90
largest odd number 67

In [ ]:
# Python program to find the largest number in the list
l=[]
n=int(input("enter the number of elements in the list"))
for i in range(0,n):
  ele=int(input("Enter the number of elements in the list"))
  l.append(ele)
l.sort()
print("largest element in the list:",l[len(l)-1])

enter the number of elements in the list5
Enter the number of elements in the list23
Enter the number of elements in the list56
Enter the number of elements in the list256
Enter the number of elements in the list21
Enter the number of elements in the list789
largest element in the list: 789

In [ ]:
# Python program to merge two lists and sort it
l1=[]
l2=[]
n1=int(input("Enter the number of elements in the list1"))
n2=int(input("Enter the number of elements in the list2"))
for i in range(0,n1):
  ele=int(input("Enter the element"+str(i+1)+"="))
  l1.append(ele)

for j in range(0,n2):
  ele=int(input("Enter the element"+str(j+1)+"="))
  l1.append(ele)

l=l1+l2
l.sort()
print("sorted merged list:",l)

Enter the number of elements in the list15
Enter the number of elements in the list25
Enter the element1=22
Enter the element2=12
Enter the element3=45
Enter the element4=67
Enter the element5=79
Enter the element1=56
Enter the element2=78
Enter the element3=90
Enter the element4=789
Enter the element5=54
sorted merged list: [12, 22, 45, 54, 56, 67, 78, 79, 90, 789]

In [ ]:
# Python program to put even and odd numbers in the different list
l=[]
odd=[]
even=[]
n=int(input("Enter the number of elements in the list:"))
for i in range(0,n):
  ele=int(input("Enter the element"+str(i+1)+"="))
  l.append(i)
for j in l:
  if(j%2==0):
    even.append(j)
  else:
    odd.append(j)
print("odd list:",odd)
print("even list",even)

Enter the number of elements in the list:5
Enter the element1=12
Enter the element2=23
Enter the element3=45
Enter the element4=33
Enter the element5=67
odd list: [1, 3]
even list [0, 2, 4]

In [ ]:
# python program to swap the first and last elemets of the list
l=[]
n=int(input("Enter the number of elements in the list:"))
for i in range(0,n):
  ele=int(input("Enter the element"+str(i+1)+"="))
  l.append(ele)
print("The original list:",l)
temp=l[0]
l[0]=l[n-1]
l[n-1]=temp
print(l)

Enter the number of elements in the list:5
Enter the element1=1
Enter the element2=2
Enter the element3=3
Enter the element4=4
Enter the element5=5
The original list: [1, 2, 3, 4, 5]
[5, 2, 3, 4, 1]

In [ ]:
# python program to create alist with tuple having second elementy as the square of first
lower=int(input("Enter the lower range limit:"))
upper=int(input("Enter the upper range limit:"))
l=[(i,i**2) for i in range(lower,upper+1)]
print(l)

Enter the lower range limit:10
Enter the upper range limit:20
[(10, 100), (11, 121), (12, 144), (13, 169), (14, 196), (15, 225), (16, 256), (17, 289), (18, 324), (19, 361), (20, 400)]

In [ ]:
# Python program to detect whether the two strings are anagrams or not
s1=input("Enter the string1")
s2=input("Enter the string2")
if(sorted(s1)==sorted(s2)):
  print("strings are anagrams")

Enter the string1set
Enter the string2tes
strings are anagrams

In [ ]:
l=[]
n=int(input("Enter the number of elements in the list:"))
for i in range(0,n):
  ele=input("Enter the element"+str(i+1)+"=")
  l.append(ele)
word=input("Enter the word to be removed:")
occurence=int(input("Enter the occurence to be removed"))
occurence_count=0
b=[] # List after removing the ith occurence
for j in l:
  if(j==word):
    occurence_count+=1
    if(occurence_count==occurence):
      continue
  b.append(j)
  
  
      
    
print("The original list:",l)
print("The list:",b)

In [ ]:
# python program to add key value pair to dictionary

keys=[]
values=[]
n=int(input("enter the number of elements in dictionary:"))
print("enter the keys")
for i in range(0,n):
  key=input("enter the key:")
  keys.append(key)
  
print("Enter the values")

for j in range(0,n):
  value=input("enter the value:")
  values.append(value)

d=dict(zip(keys,values))
print(d)

enter the number of elements in dictionary:5
enter the keys
enter the key:1
enter the key:2
enter the key:3
enter the key:4
enter the key:5
Enter the values
enter the value:apple
enter the value:mango
enter the value:orange
enter the value:bnana
enter the value:grapes
{'1': 'apple', '2': 'mango', '3': 'orange', '4': 'bnana', '5': 'grapes'}

In [ ]:
# Adding the key value pair to the dictionary
d={}
key=input("enter the key:")
value=input("enter the value:")
d.update({key:value})
print(d)

enter the key:1
enter the value:apple
{'1': 'apple'}

In [ ]:
s=input("enter the hyphen seperated string:")
l=s.split("-")
l.sort()
print("sorted:")
print("-".join(l))

enter the hyphen seperated string:Sarvadnya-sanjay-rajurkar
sorted:
Sarvadnya-rajurkar-sanjay

In [ ]:
# Python propgram to count vowels in the string
s=input("enter the string:")
count=0
vowels="AEIOUaeiou"
for i in s:
  if i in vowels:
    count=count+1
print("Number of vowels:",count)

enter the string:sarvadnya
Number of vowels: 3

In [ ]:
# write a function to find the greatest number among the three
def max_of_two(x,y):
  if x>y:
    return x
  return y

def max_of_three(x,y,z):
  if x>max_of_two(y,z):
    return x
  else :
    return max_of_two(y,z)

max_of_three(56,399,4)

399

In [ ]:
def multiply(l):
  total=1
  for i in l:
    total=total*i
  return(total)
multiply([8,2,3,-1,7])

-336

In [ ]:
# Python function to find the factorial of the number
def fact(n):
  if n==1:
    return 1
  else:
    return n*fact(n-1)

fact(4)

24

In [ ]:
# Python program to take alist and written a list with unique elements
def unique_list(l):
  x=[]
  for i in l:
    if i not in x:
      x.append(i)
  return x

unique_list([1,2,3,3,1,56,7,90])

[1, 2, 3, 56, 7, 90]

In [ ]:
# Python program to print pascal triangle
def solve(n):
  for i in range(1, n+1):
    for j in range(0, n-i+1):
        print(' ', end='')
 
    # first element is always 1
    C = 1
    for j in range(1, i+1):
 
        # first value in a line is always 1
        print(' ', C, sep='', end='')
 
        # using Binomial Coefficient
        C = C * (i - j) // j
    print()
solve(5)

      1
     1 1
    1 2 1
   1 3 3 1
  1 4 6 4 1

In [ ]:
# Python function that accepts a string and calculate the number of uppercase and lowercase letters in the string
def string_test(s):
  count=0
  COUNT=0
  for i in s:
    if i.islower():
      count=count+1
    else:
      COUNT=COUNT+1
  print("Lowercase letters:",count)
  print("uppercase letters:",COUNT)
string_test('SarvadnyaRajurkar')

Lowercase letters: 15
uppercase letters: 2

In [ ]:
a=[]
n=int(input("enter the number of elements in the list:"))
for i in range(0,n):
  ele=int(input("Enter the element"+str(i+1)+"="))
  a.append(ele)
b=[sum(a[0:i+1]) for i in range(0,len(a))]
print(a)
print(b)

enter the number of elements in the list:5
Enter the element1=1
Enter the element2=2
Enter the element3=3
Enter the element4=4
Enter the element5=5
[1, 2, 3, 4, 5]
[1, 3, 6, 10, 15]

In [ ]:
# python program to generate the random numbers from 1 to 20 and append them to list

import random
l=[]
n=int(input("Enter number of elements in the list:"))
for i in range(0,n):
  l.append(random.randint(0,20))
print(l)

Enter number of elements in the list:5
[3, 15, 11, 15, 12]

In [ ]:
dictionary={}
s=input("enter the string:")
words=s.split()
for word in words:
  if(word[0] not in dictionary.keys()):
    dictionary[word[0]]=[]
    dictionary[word[0]].append(word)
  else:
    if(word not in dictionary[word[0]]):
      dictionary[word[0]].append(word)
print(dictionary)

enter the string:saravadnya Rajurkar
{'s': ['saravadnya'], 'R': ['Rajurkar']}

In [ ]:
# Python pyramids
def pyramid(n):
  for i in range(0,n):
    for j in range(0,i+1):
      print("*",end=" ")
    print("\r")
pyramid(5)

*
* *
* * *
* * * *
* * * * *

In [ ]:
def  contalpha(n):
     
    # initializing value corresponding to 'A'
    # ASCII value
    num = 65
 
    # outer loop to handle number of rows
    for i in range(0, n):
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # explicitly converting to char
            ch = chr(num)
         
            # printing char value
            print(ch, end=" ")
         
            # incrementing at each column
            num = num +1
     
     
        # ending line after each row
        print("\r")
 
# Driver code
n = 5
contalpha(n)

A
B C
D E F
G H I J
K L M N O

In [ ]:
def alphapat(n):
     
    # initializing value corresponding to 'A'
    # ASCII value
    num = 65
 
    # outer loop to handle number of rows
    # 5 in this case
    for i in range(0, n):
     
        # inner loop to handle number of columns
        # values changing acc. to outer loop
        for j in range(0, i+1):
         
            # explicitly converting to char
            ch = chr(num)
         
            # printing char value
            print(ch, end=" ")
     
        # incrementing number
        num = num + 1
     
        # ending line after each row
        print("\r")
 
# Driver Code
n = 5
alphapat(n)

A
B B
C C C
D D D D
E E E E E

In [ ]:
# Class program 
class person:
  def __init__(self,name,age):
    self.name=name
    self.age=age

p=person("messi","34")
print(p.age)
print(p.name)

34
messi

In [ ]:
#   Python Date time operation
from datetime import date
now=date.today()
print("Date:"+now.strftime("%m-%d-%y"))
print("day of week:"+now.strftime("%A"))
print("Month:"+now.strftime("%B"))
then=date(2001,5,17)
timediff=now-then
timediff.days

Date:06-14-22
day of week:Tuesday
Month:June

7698

In [ ]:
import time
nowtime=time.time()

time.asctime(time.localtime(nowtime))
time.strftime("today is %d-%m-%y. Today is %A it is %H hours %M Minutes and %S seconds")

'today is 14-06-22. Today is Tuesday it is 03 hours 43 Minutes and 25 seconds'

In [ ]:
# rectangular pattern
r=int(input("Enter the number of rows:"))
c=int(input("Enterf the number of columns:"))
for i in range(1,r+1):
  for j in range(1,c+1):
    print("*",end="")
  print()

Enter the number of rows:5
Enterf the number of columns:6
******
******
******
******
******

In [ ]:
# Hollow rectangular pattern
r=int(input("enter the number of rows:"))
c=int(input("Enter the number of columns"))
for i in range(1,r+1):
  for j in range(1,c+1):
    if(i==1 or j==1 or i==r or j==c):
      print("*",end="")
    else:
      print(" ",end="")
  print()

enter the number of rows:5
Enter the number of columns5
*****
*   *
*   *
*   *
*****

In [ ]:
# Python  program for inverted half pyramid
r=int(input("enter the number of rows:"))


for i in range(r,0,-1):
  print("*"*i)

enter the number of rows:5
*****
****
***
**
*

In [ ]:
# Python program for printing the half pyramid
e=int(input("enter the number of the elements:"))
for i in range(1,e+1):
  print("*"*i)

enter the number of the elements:5
*
**
***
****
*****

In [ ]:
# Python program for printing the half pyramid
e=int(input("enter the number of the elements:"))
for i in range(5,0,-1):
  print("*"*i)

enter the number of the elements:5
*****
****
***
**
*

In [ ]:
# python program to print the mirror image of the half pyramid
r=int(input("enter the number of rows:"))

for i in range(1,r+1):
  for j in range(1,r+1):
    if(j<=r-i):
      print(" ",end="")
    else:
      print("*",end="")
  print()

enter the number of rows:5
    *
   **
  ***
 ****
*****

In [ ]:
# 
n=int(input("enter the number n"))
num=1
for i in range(n,0,-1):
  for j in range(1,i+1):
    print(j,end=" ")
  print()

enter the number n5
1 2 3 4 5
1 2 3 4
1 2 3
1 2
1

In [ ]:
# Abs function
import math
a=2
b=3
c=abs(a-b)
print(c)

1

In [ ]:
# Python Program To print Hello World!
print("Hello World!")

Hello World!

In [ ]:
# Python Program to add Two numbers
num1=int(input("Enter the number:"))
num2=int(input("Enter the number"))
c=num1+num2
print("The addition of two  numbers is: ",c)

Enter the number:3
Enter the number4
The addition of two  numbers is:  7

In [ ]:
# Python program to find the squareroot of tthe given number
import math
num=int(input("enter The Number:"))
print("The squareroot is:",math.sqrt(num))

enter The Number:25
The squareroot is: 5.0

In [ ]:
# Python program to find the area of triangle
a=int(input("Enter the length of side a:"))
b=int(input("Enter the length of side b: "))
c=int(input('Enter the length of side c:'))
s=(a+b+c)/2
area=(s*(s-a)*(s-b)*(s-c))*0.5
print("The area of the triangle is:",area)

Enter the length of side a:45
Enter the length of side b: 67
Enter the length of side c:89
The area of the triangle is: 1074414.09375

In [ ]:
# Python program to fin the solution of the quadratic 
import cmath
a=int(input("Enter the a:"))
b=int(input("Enter the b:"))
c=int(input("Enter the C:"))
D=b**2-(4*a*c)
sol1=(-b+cmath.sqrt(D))/2*a
sol2=(-b-cmath.sqrt(D))/2*a
print("The roots x1={0},x2={1}".format(sol1,sol2))

Enter the a:4
Enter the b:5
Enter the C:6
The root x1=(-10+16.852299546352718j),x2=(-10-16.852299546352718j)

In [ ]:
# Python program to swap two variables
a=int(input("enter the number 1:"))
b=int(input("Enter the number 2:"))
print("var1={0},var2={1}".format(a,b))
temp=a
a=b
b=temp
print("var1={0},var2={1}".format(a,b))

enter the number 1:2
Enter the number 2:5
var1=2,var2=5
var1=5,var2=2

In [ ]:
# Program to generate random number in the given limit
import random
Ll=int(input("enter the lower limit:"))
ul=int(input("enter the upper limit"))
print(random.randint(Ll,ul+1))

enter the lower limit:6
enter the upper limit56
39

In [ ]:
#Python program to covert kilometers into miles
Km=float(input("Enter the distance in Km:"))
miles=Km*0.621371
print("%0.2f {0} kms is equal to %0.2f{1} miles".format(Km,miles))

Enter the distance in Km:34.89
%0.2f 34.89 kms is equal to %0.2f21.67963419 miles

In [ ]:
# Python program to convert celsius to fahrenheit
cel=float(input("Enter the temperature in celcius:"))
far=(cel*1.8)+32
print("%0.2f celsius is equal t0 %0.2f fahrenheit "%(cel,far))

Enter the temperature in celcius:23.7898
23.79 celsius is equal t0 74.82 fahrenheit

In [ ]:
# Python program to print output without newline
print("Python is easy",end=" ")
print("I Love Python")

Python is easy I Love Python

In [ ]:
# Python program to check whether the number is positive or not
num=int(input("Enter the number:"))
if(num==0):
  print("Zero is neither positive nor negative")
if(num>0):
  print("%d is positive number"%(num))
else:
  print("%d is negative number"%(num))

Enter the number:56
56 is positive number

In [ ]:
n=int(input("enter The number"))
temp=str(n)
t1=temp+temp
t2=temp+temp+temp
comp=n+int(t1)+int(t2)
print(comp)

enter The number34
346902

In [ ]:
# Program to print all numbers in the given range divisible by the given number
n=int(input("enter the given number:"))
Ll=int(input("Enter the lower  limit:"))
ul=int(input("enter the  upper limit:"))
for i in range(Ll,ul+1):
  if(i%n==0):
    print(i)

enter the given number:4
Enter the lower  limit16
enter the  upper limit24
16
20
24

In [ ]:
# Python program to find the sum of the digits of the number
n=int(input("enter the number:"))
sum=0
while(n!=0):
  dig=n%10
  sum=sum+dig
  n=n//10
print("sum of the digits of the number is:",sum)

enter the number:268
sum of the digits of the number is: 16

In [ ]:
# Python program to print all the numbers in the range of 1 to 50 that aren't divisible by 2 and 3
for i in range(1,51):
  if(i%2!=0 and i%3!=0):
    print(i)

1
5
7
11
13
17
19
23
25
29
31
35
37
41
43
47
49

In [ ]:
# Python program to check whether the given number is the perfect number
"""Perfect number is the positive number whose sum of the proper divisors is the number it self"""
n=int(input("enter the number:"))
sum=0
temp=n
for i in range(1,n):
  if (n%i==0):
    sum=sum+i

if(sum==n):
  print("%d is perfect Number."%(n))

enter the number:6
6 is perfect Number

In [ ]:
# Python program t0 reverse the given number:
n=int(input("Enter the number:"))
rev=0
while(n!=0):
  dig=n%10
  rev=rev*10+dig
  n=n//10
print("reversed Number",rev)

Enter the number:4589
reversed Number 9854

In [ ]:
# Python program to check whether the given number is palindrome or not
n=int(input("Enter the number:"))
temp=n
rev=0
while(n!=0):
  dig=n%10
  rev=rev*10+dig
  n=n//10
if(temp==rev):
  print("%d is palindrome number"%(rev))
else:
  print("%d is not a palindrome number"%(rev))

Enter the number:4545
5454 is not a palindrome number

In [ ]:
# Python Program to check whether the number is armstrong number
n=int(input("Enter the numberL:"))
t1=n
temp=str(n)
order=len(temp)
sum=0
while(n!=0):
  dig=n%10
  sum=sum+dig**int(order)
  n=n//2
if(sum==t1):
  print("%d is the armstrong Number"%n)
else:
  print("%d is the armstrong Number"%t1)

Enter the numberL:1634
1634 is the armstrong Number

In [ ]:
# Collatz conjecture
n=int(input("Enter the number:"))
while(n>1):
  print(n,end=" ")
  if(n%2):
    n=3*n+1
  else:
    n=n//2
  print(1,end=" ")

Enetr the number:23
23 1 70 1 35 1 106 1 53 1 160 1 80 1 40 1 20 1 10 1 5 1 16 1 8 1 4 1 2 1

In [ ]:
# print The series "1+2+.........+n"
n=int(input("enter the number:"))
i=1
while(i<n+1):
  print(i,sep=" ",end=" ")
  if(i<n):
    print("+",sep=" ",end=" ")
  i=i+1

enter the number:9
1 + 2 + 3 + 4 + 5 + 6 + 7 + 8 + 9

In [ ]:
# python program to swap two variables without temporary variable
a=int(input("enter the variable:"))
b=int(input("enter the variable:"))
print("a=%d,b=%d"%(a,b))
a=a+b
b=a-b
a=a-b
print("a=%d,b=%d"%(a,b))

enter the variable:44
enter the variable:56
a=44,b=56
a=56,b=44

In [ ]:
def square(n):
  """ I love Python"""
  return n*n
print(square.__doc__)

 I love Python

In [ ]:
# Practice list methods
l1=[1,2,5,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]
l2=['a','b','c','d','e','g']
print(max(l1))
print(min(l2))
print(len(l1))
print(l2.index('a'))
l2.append("f")
l1.insert(1,8)
print(l1)
l1.remove(8)
print(l1)
l1.reverse()
print(l1)
l2.reverse()
l1.pop(0)
print(l1)
del l1[0]
print(l1[0])
l1.extend(l2)
print(l1)
print(l1.count('a'))

20
a
20
0
[1, 8, 2, 5, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 2, 5, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[20, 19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 5, 2, 1]
[19, 18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 5, 2, 1]
18
[18, 17, 16, 15, 14, 13, 12, 11, 10, 9, 8, 7, 6, 5, 4, 5, 2, 1, 'f', 'g', 'e', 'd', 'c', 'b', 'a']
1

In [ ]:
N=int(input())
max=3500

i=N+1
while(i<max):
  sum=0
  for j in range(1,i):
    if(i%j==0):
      sum=sum+j
  if(sum==i):
    print(i)
    i=max
  else:
    i=i+1

PYthon COG practice

In [ ]:
# Python program to check whether the number is positive or negative
num1=int(input())
if(num1==0):
  print("The number is:",0)
elif(num1>0):
  print("The number is positive")
else:
  print("Number is negative")

5
The number is positive

In [ ]:
# Python program to read number n and compute n+nn+nnn
n=int(input("input n:"))
temp=str(n)
t1=temp+temp
t2=temp+temp+temp
comp=n+int(t1)+int(t2)
print(comp)

input n:5
615

In [ ]:
# Python program to print all the number divisible by given number in certain range
n=int(input("Enetr the number:"))
ll=int(input("Enter the lower limit:"))
ul=int(input("Enter the upper limit:"))
for i in range(ll,ul+1):
  if(i%n==0):
    print(i)

Enetr the number:2
Enter the lower limit:20
Enter the upper limit:40
20
22
24
26
28
30
32
34
36
38
40

In [ ]:
# Find the sum of digits of the number
n=int(input("enter the number:"))
sum=0
while(n!=0):
  dig=n%10
  sum=sum+dig
  n=n//10
print(sum)

enter the number:56
11

In [ ]:
lower=int(input("Enter lower range limit:"))

upper=int(input("Enter upper range limit:"))

n=int(input("Enter thenumber to be divided by:"))

for i in range(lower,upper+1):
  if(i%n==0):
    print(i)

Enter lower range limit:4
Enter upper range limit:20
Enter thenumber to be divided by:2
4
6
8
10
12
14
16
18
20

In [ ]:
# Python program to print all the numbers that aren't divisible by 2 or 3 and lie between 1 and 50
for i in range(1,51):
  if(i%2==0 or i%3==0):
    continue 
  else:
    print(i)

1
5
7
11
13
17
19
23
25
29
31
35
37
41
43
47
49

In [ ]:
# Python program to check if the number is perfect
n=int(input("Enter the number"))
sum=0
for i in range(1,n):
  if(n%i==0):
    sum=sum+i
if(sum==n):
  print("%d is a perfect nunumber:",n)
else:
  print("not aperfect number")

Enter the number6
%d is a perfect nunumber: 6

In [ ]:
# Python program to reverse a given number
n=int(input("Enter the number:"))
rev=0
while(n!=0):
  dig=n%10
  rev=rev*10+dig
  n=n//10
print("the reversed Number is:",rev)

Enter the number:354
the reversed Number is: 453

In [ ]:
# check whether the given number is palindrome:
n=int(input("Enter the number:"))
rev=0
temp=n
while(n!=0):
  dig=n%10
  rev=rev*10+dig
  n=n//10
if(temp==rev):
  print("the number is palindrome")
else:
  print("the number is not a palindrome")

Enter the number:123
the numberf is not a palindrome

In [ ]:
# Collatz conjecture problem
n=int(input("enter the number:"))
while(n>1):
  print(n,end=' ')
  if(n%2):
    n=3*n+1
  else:
    n=n//2
print(1,end=" ")

enter the number:12
12 6 3 10 5 16 8 4 2 1

In [ ]:
# check whether the number is armstrong number or not
n=int(input("Enter the number:"))
order=len(str(n))
sum=0
temp=n
while(n!=0):
  dig=n%10
  sum=sum+dig**int(order)
  n=n//10
if(sum==temp):
  print("armstrong number")
else:
  print("Not an armstrong number")

Enter the number:371
armstrong number

In [ ]:
n=int(input("Enter the number:"))
a=[]
for i in range(1,n+1):
  print(i,sep="",end=" ")
  if(i<n):
    print("+",sep=" ",end=" ")
  a.append(int(i))
print("=",end=" ")
total=sum(a)
print(total)

Enter the number:7
1 + 2 + 3 + 4 + 5 + 6 + 7 =

TypeError: ignored

In [ ]:
# Python program to swap the value of two variables without using tem variable
a=int(input("Enter the variable:"))
b=int(input("Enter the variable:"))
print("a="+str(a)+" "+"b="+str(b))
a=a+b
b=a-b
a=a-b
print("a="+str(a)+" "+"b="+str(b))

Enter the variable:5
Enter the variable:6
a=5 b=6
a=6 b=5

In [ ]:
def fibonacci(n):
  a=0
  b=1
  i=3
  if(n<0):
    print("Incorrect Input")
  elif(n==1):
    print(a)
  else:
    print(a,end=" ")
    print(b,end=" ")
    while(i<=n):
      c=a+b
      print(c,end=" ")
      a=b
      b=c
      i+=1
fibonacci(7)

0 1 1 2 3 5 8

In [ ]:
import random

4
5
5
5
6
6
7
7
7
7
7
8
8
8
8
9
9
9
9
9
9
10
10
10
10
10
10
11
11
11
11
11
11
11
11
11
12
12
12
12
12
12
13
13
13
13
13
13
13
13
13
13
13
14
14
14
14
14
14
14
14
14
14
15
15
15
15
15
15
15
15
15
15
15
16
16
16
16
16
16
16
16
16
16
16
17
17
17
17
17
17
17
17
17
17
17
17
17
17
17
18
18
18
18
18
18
18
18
18
18
18
18
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
19
20
20
20
20
20
20
20
20
20
20
20
20
20
20
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
21
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
22
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
23
24
24
24
24
24
24
24
24
24
24
24
24
24
24
24
24
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
25
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
26
27
27
27
27
27
27
27
27
27
27
27
27
27
27
27
27
27
27
27
27
27
27
27
28
28
28
28
28
28
28
28
28
28
28
28
28
28
28
28
28
28
28
28
28
28
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
29
30
30
30
30
30
30
30
30
30
30
30
30
30
30
30
30
30
30
30
30
30
30
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
31
32
32
32
32
32
32
32
32
32
32
32
32
32
32
32
32
32
32
32
32
32
32
32
32
32
32
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
33
34
34
34
34
34
34
34
34
34
34
34
34
34
34
34
34
34
34
34
34
34
34
34
34
34
34
34
34
34
34
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
35
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
36
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
37
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
38
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
39
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
40
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
41
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
42
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
43
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
44
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
45
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
46
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
47
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
48
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
49
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
50
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
51
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
52
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
53
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
54
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
55
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
56
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
57
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
58
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
59
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
60
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
61
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
62
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
63
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
64
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
65
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
66
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
67
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
68
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
69
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
70
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
71
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
72
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
73
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
74
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
75
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
76
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
77
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
78
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
79
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
80
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
81
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
82
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
83
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
84
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
85
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
86
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
87
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
88
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
89
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
90
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
91
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
92
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
93
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
94
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
95
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
96
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
97
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
98
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99
99

In [ ]:
class Parrot:
  species="bird"
  def __init__(self,name,age):
    self.name=name
    self.age=age'
  blu=Parrot(name)

Blu is a bird
Woo is also a bird
Blu is 10 years old
Woo is 15 years old

In [ ]:
a=int(input())
b=int(input())
c=input()
multiply=a*2
div=b/3
con=c+str(div)
print(multiply)
print(div)
print(con)

-10
5
abc
-20
1.6666666666666667
abc1.6666666666666667